/* GLOBAL VARIABLES */
/* FONTS */
@font-face {
  font-family: 'regular';
  src: url("../fonts/proxima_nova_light.ttf") format("truetype");
}

@font-face {
  font-family: 'title';
  src: url("../fonts/neo_sans_regular.ttf") format("truetype");
}

/* BODY */
body {
  font-family: 'regular';
  font-size: 18px;
  color: #666;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 99999;
  left: 0;
  top: 0;
  text-align: center;
  transition: all 0.3s ease-out;
}

.preloader .imageToPreload {
  width: 0;
  height: 0;
}

.preloader .spinner {
  display: block;
  margin: auto;
  margin-top: 17%;
}

.preloader .spinner.hide_preloader, .preloader .preloader_text.hide_preloader {
  opacity: 0;
}

.preloader.hide_preloader {
  opacity: 0;
}

/* NAVIGATION */
.menu_button {
  background: none;
  border: 0;
  outline: none;
  width: 60px;
  height: 60px;
  position: relative;
  display: block;
  cursor: pointer;
}

.menu_button span:nth-child(1) {
  position: absolute;
  content: ' ';
  display: block;
  width: 20px;
  background-color: #fff;
  height: 2px;
  transition: all 0.3s ease-out;
  top: 26px;
  left: 22px;
  transform-origin: center top;
  z-index: 0;
}

.menu_button span:nth-child(2) {
  position: absolute;
  content: ' ';
  display: block;
  width: 8px;
  background-color: #fff;
  height: 2px;
  transition: all 0.3s ease-out;
  transform-origin: left bottom;
  top: 32px;
  left: 22px;
  z-index: 1;
}

.menu_button span:nth-child(3) {
  position: absolute;
  content: ' ';
  display: block;
  width: 8px;
  background-color: #fff;
  height: 2px;
  transition: all 0.3s ease-out;
  transform-origin: left bottom;
  top: 32px;
  left: 22px;
  z-index: 1;
}

.menu_button:hover span:nth-child(2) {
  width: 20px;
}

.menu_button.expanded span:nth-child(1) {
  transform: rotate(45deg);
  background-color: #fff !important;
}

.menu_button.expanded span:nth-child(2) {
  transform: rotate(-45deg) translateY(2px);
  width: 8px !important;
  background-color: #fff !important;
}

.menu_button.expanded span:nth-child(3) {
  transform: rotate(-45deg) translateX(16px) translateY(2px);
  background-color: #fff !important;
}

.navbar {
  text-transform: uppercase;
  background-color: #111;
  transition: all 0.3s ease-out;
}

.navbar-brand img {
  width: 32px;
  transition: all 0.3s ease-out;
}

.navbar li a {
  color: #fff;
  letter-spacing: 2px;
  font-size: 14px !important;
}

.navbar li a.btn {
  color: #000;
}

.navbar-nav {
  margin: auto;
}

.navbar-nav li {
  padding: 0 20px;
}

.navbar-nav li .nav-link:before {
  position: relative;
  content: ' ';
  bottom: -30px;
  width: 70%;
  left: 0;
  height: 2px;
  background-color: #fff;
  display: block;
  transform-origin: left center;
  transition: all 0.3s ease-out;
  transform: scaleX(0);
}

.navbar-nav li .nav-link:hover:before {
  transform: scaleX(1);
}

/* COMMON */
section {
  display: block;
  margin: auto;
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.arrow_down_link {
  width: 60px;
  height: 80px;
  border: 0;
  outline: none;
  background: transparent;
  margin: 30px auto auto auto;
  display: block;
  cursor: pointer;
}

.arrow_down_link:before {
  display: block;
  margin: auto;
  content: ' ';
  width: 2px;
  height: 60px;
  background-color: #242424;
}

.arrow_down_link:after {
  display: block;
  margin: auto;
  content: ' ';
  width: 2px;
  height: 8px;
  background-color: #242424;
  animation: arrowBounce 1.3s ease-out;
  animation-iteration-count: infinite;
  transition: all 0.3s ease-out;
}

.header-separator {
  height: 4px;
  border-radius: 2px;
  background: #242424;
  width: 80px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.header-separator.dark {
  background-color: #fff;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

.section__title {
  font-size: 60px;
  font-family: 'title';
  color: #111;
}

.callout {
  color: #111;
  padding-left: 25px;
  text-decoration: none;
  position: relative;
  margin-top: 20px;
  font-size: 24px;
  display: inline-block;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.callout:hover {
  color: #111;
  text-decoration: none;
}

.callout:before {
  display: block;
  content: ' ';
  right: -20px;
  left: 0;
  top: 16px;
  height: 2px;
  position: absolute;
  background-color: #242424;
  transition: all 0.3s ease-out;
  -webkit-transform: scaleX(0.1);
  transform: scaleX(0.1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  z-index: 1;
}

.callout:after {
  display: block;
  content: '>';
  right: -20px;
  top: 0px;
  position: absolute;
  z-index: 2;
}

.callout:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* QUICK INFO SECTION */
.section__quick_info {
  padding: 30px 0;
  -webkit-box-shadow: 0px 7px 10px -8px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 7px 10px -8px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 7px 10px -8px rgba(0, 0, 0, 0.27);
  border-bottom: #dddddd solid 1px;
}

.section__quick_info .accent {
  color: #ffc107;
}

/* FACE */
.fallback_face {
  display: block;
  margin: auto;
}

.section__face {
  border-bottom: #dddddd solid 1px;
}

.face {
  width: 100%;
}

.face .description h1 {
  font-family: 'title';
  font-size: 30px;
  color: #111;
  text-align: center;
}

.face #coder, .face #designer {
  display: none;
}

/* ABOUT SECTION */
.section__about {
  -webkit-box-shadow: 0px 7px 10px -8px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 7px 10px -8px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 7px 10px -8px rgba(0, 0, 0, 0.27);
  border-bottom: #dddddd solid 1px;
  background-image: url(../img/dust_scratches.png);
  background-repeat: repeat;
}

.section__about .description {
  padding: 50px 0;
}

.section__about .social_links {
  padding: 20px 0;
}

.section__about .social_links a {
  font-size: 36px;
  margin-right: 25px;
  color: #111;
  transition: .5s;
}

.section__about .social_links a.fb:hover {
  color: #4267b2;
}

.section__about .social_links a.deviantart:hover {
  color: #05cc47;
}

.section__about .social_links a.gitlab:hover {
  color: #e24329;
}

.section__about .tech_stack {
  padding: 30px 0;
  border-top: #dddddd solid 1px;
}

.section__about .tech_stack img {
  width: 100px;
  display: block;
  margin: auto;
  padding-bottom: 10px;
}

.section__about .tech_stack h4 {
  text-align: center;
}

/* Bar Chart for Desktop */
.section__skills {
  padding-top: 50px;
  display: block;
  border-bottom: #dddddd solid 1px;
}

.section__skills .align-r {
  text-align: right;
}

.bar-chart {
  display: none;
}

/* Bar Chart for Mobile */
.mobile .chart {
  margin: 30px 0 0;
}

.mobile .chart:first-child {
  margin: 0;
}

.mobile .chart--horiz {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mobile .chart--horiz span {
  color: #fff;
  font-size: 1.2rem;
}

.mobile .p-60 {
  width: 60%;
}

.mobile .p-70 {
  width: 70%;
}

.mobile .p-90 {
  width: 90%;
}

.mobile .p-95 {
  width: 95%;
}

.mobile .chart__bar {
  padding: 5px 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: #BBB solid 1px;
  vertical-align: bottom;
  border-left: #BBB solid 1px;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
}

.mobile .aqua {
  border-color: #8dc5be;
  background-color: #b0dbd6;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5fb2a8), color-stop(1, #b0dbd6));
  background-image: -ms-linear-gradient(bottom, #5fb2a8, #b0dbd6);
  /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
  background-image: -moz-linear-gradient(center bottom, #5fb2a8 0%, #b0dbd6 100%);
  background-image: -o-linear-gradient(bottom, #5fb2a8, #b0dbd6);
}

.mobile .pink {
  border-color: #ebc0b5;
  background-color: #f4dcd6;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e1ae9e), color-stop(1, #f4dcd6));
  background-image: -ms-linear-gradient(bottom, #e1ae9e, #f4dcd6);
  /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
  background-image: -moz-linear-gradient(center bottom, #e1ae9e 0%, #f4dcd6 100%);
  background-image: -o-linear-gradient(bottom, #e1ae9e, #f4dcd6);
}

.mobile .yellow {
  border-color: #e7af30;
  background-color: #efc563;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfae36), color-stop(1, #efc563));
  background-image: -ms-linear-gradient(bottom, #dfae36, #efc563);
  /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
  background-image: -moz-linear-gradient(center bottom, #dfae36 0%, #efc563 100%);
  background-image: -o-linear-gradient(bottom, #dfae36, #efc563);
}

.mobile .brown {
  border-color: #dcb386;
  background-color: #dcba83;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bc8e5b), color-stop(1, #dcba83));
  background-image: -ms-linear-gradient(bottom, #bc8e5b, #dcba83);
  /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
  background-image: -moz-linear-gradient(center bottom, #bc8e5b 0%, #dcba83 100%);
  background-image: -o-linear-gradient(bottom, #bc8e5b, #dcba83);
}

.mobile .red {
  border-color: #e14949;
  background-color: #da6d6c;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca4544), color-stop(1, #da6d6c));
  background-image: -ms-linear-gradient(bottom, #ca4544, #da6d6c);
  /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
  background-image: -moz-linear-gradient(center bottom, #ca4544 0%, #da6d6c 100%);
  background-image: -o-linear-gradient(bottom, #ca4544, #da6d6c);
}

/* Works */
.section__works {
  padding: 50px 0;
  background-image: url(../img/dust_scratches.png);
  background-repeat: repeat;
}

/* Contact */
.section__contact {
  background-color: #111;
  padding: 50px 0;
}

.section__contact .section__title {
  color: #fff;
}

.section__contact #map {
  width: 100%;
  height: 400px;
}

.section__contact form {
  padding-bottom: 30px;
}

.section__contact form textarea {
  min-height: 100px;
}

.section__contact .contact-info {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

footer p {
  margin: 0;
}

/* MEDIA QUERIES */
@media (min-width: 992px) {
  .navbar-nav li a:before {
    left: 15%;
  }
  .navbar-brand img {
    width: 64px;
    transition: all 0.3s ease-out;
  }
  .navbar-brand img.small {
    width: 32px;
    transition: all 0.3s ease-out;
  }
  .mobile {
    display: none;
  }
  .section__skills {
    padding-top: 100px;
  }
  .bar-chart {
    display: block;
    list-style: none;
    height: 450px;
    position: relative;
    background: url(../img/axis.png) repeat-x;
    padding: 0;
    margin: 0px;
  }
  .bar-chart li {
    display: inline-block;
    width: 16%;
    height: 100%;
    background-color: #CCC;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    position: relative;
    font-size: 1.8rem;
    margin: 0 1.8% 0 0;
    border: #BBB solid 1px;
    vertical-align: bottom;
    border-bottom: #BBB solid 1px;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
  }
  .bar-chart li:nth-child(6n) {
    margin-right: 0;
  }
  .bar-chart .percent {
    opacity: 0.3;
    position: absolute;
    bottom: 50px;
    font-size: 3.5rem;
    width: 100%;
    line-height: 1em;
  }
  .bar-chart .percent span {
    font-size: 2.4rem;
    padding-left: 3px;
  }
  .bar-chart .skill {
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 1.2rem;
  }
  .bar-chart .p-60 {
    height: 60%;
  }
  .bar-chart .p-70 {
    height: 70%;
  }
  .bar-chart .p-90 {
    height: 90%;
  }
  .bar-chart .p-95 {
    height: 95%;
  }
  .bar-chart .aqua {
    border-color: #8dc5be;
    background-color: #b0dbd6;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5fb2a8), color-stop(1, #b0dbd6));
    background-image: -ms-linear-gradient(bottom, #5fb2a8, #b0dbd6);
    /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
    background-image: -moz-linear-gradient(center bottom, #5fb2a8 0%, #b0dbd6 100%);
    background-image: -o-linear-gradient(bottom, #5fb2a8, #b0dbd6);
  }
  .bar-chart .pink {
    border-color: #ebc0b5;
    background-color: #f4dcd6;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e1ae9e), color-stop(1, #f4dcd6));
    background-image: -ms-linear-gradient(bottom, #e1ae9e, #f4dcd6);
    /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
    background-image: -moz-linear-gradient(center bottom, #e1ae9e 0%, #f4dcd6 100%);
    background-image: -o-linear-gradient(bottom, #e1ae9e, #f4dcd6);
  }
  .bar-chart .yellow {
    border-color: #e7af30;
    background-color: #efc563;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfae36), color-stop(1, #efc563));
    background-image: -ms-linear-gradient(bottom, #dfae36, #efc563);
    /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
    background-image: -moz-linear-gradient(center bottom, #dfae36 0%, #efc563 100%);
    background-image: -o-linear-gradient(bottom, #dfae36, #efc563);
  }
  .bar-chart .brown {
    border-color: #dcb386;
    background-color: #dcba83;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bc8e5b), color-stop(1, #dcba83));
    background-image: -ms-linear-gradient(bottom, #bc8e5b, #dcba83);
    /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
    background-image: -moz-linear-gradient(center bottom, #bc8e5b 0%, #dcba83 100%);
    background-image: -o-linear-gradient(bottom, #bc8e5b, #dcba83);
  }
  .bar-chart .red {
    border-color: #e14949;
    background-color: #da6d6c;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca4544), color-stop(1, #da6d6c));
    background-image: -ms-linear-gradient(bottom, #ca4544, #da6d6c);
    /*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
    background-image: -moz-linear-gradient(center bottom, #ca4544 0%, #da6d6c 100%);
    background-image: -o-linear-gradient(bottom, #ca4544, #da6d6c);
  }
  .bar-chart li.axis {
    width: 8%;
    border: 0;
    border-right: #DDD solid 1px;
    height: 450px;
    background: #fafafa;
    -webkit-box-shadow: inset 0 0 0 0 #ffffff;
    -moz-box-shadow: inset 0 0 0 0 #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
  }
  .bar-chart .label {
    color: #666666;
    margin: -0.6em 0 88px 0;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: normal;
  }
}

@media only screen and (min-width: 1200px) {
  .face {
    width: 1040px;
    height: 600px;
    position: relative;
  }
  .face .fallback_face {
    display: none;
  }
  .face #designer_img {
    width: 420px;
    height: 600px;
    display: block;
    background-image: url(../img/sprite-home.png);
    background-repeat: no-repeat;
    background-position: 0px -600px;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 100px;
  }
  .face #coder_img {
    width: 420px;
    height: 600px;
    display: block;
    background-image: url(../img/sprite-home.png);
    background-repeat: no-repeat;
    background-position: 100% 0px;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 100px;
  }
  .face #designer_bg {
    width: 420px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    background: url(../img/sprite-home.png) 0 -1300px no-repeat;
    display: block;
    left: 100px;
  }
  .face #coder_bg {
    width: 420px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    background: url(../img/sprite-home.png) 0 -1300px no-repeat;
    display: block;
    right: 100px;
    background-position: 100% -1300px;
  }
  .face .description {
    position: absolute;
    top: 180px;
    width: 270px;
  }
  .face .description h1 {
    font-family: 'title';
    font-size: 70px;
    color: #111;
  }
  .face #designer {
    display: block;
    width: 520px;
    height: 600px;
    top: 0px;
    position: absolute;
    left: 0px;
  }
  .face #coder {
    display: block;
    width: 520px;
    height: 600px;
    top: 0px;
    position: absolute;
    text-align: left;
    right: 0px;
  }
  .face #coder .description {
    right: 0px;
  }
  .section__about .texts {
    padding-right: 100px;
  }
}
